extends _template
block content
   main
      p Oasdasdsss
      include ../components/modal/modal.pug

      form.cf-form
         input.cf-input(type="text" name='erer')
         input.cf-input(type="file" name='333')
         input.cf-input(type="tel" name='eeee')
         button(type="submit") Jngfhdbn